.git/
data/**
!/data/.gitke
# vs code 
.vscode/

# python cache
__pycache__/

# packaging
*.egg-info

# local test
output.txt
engine/ingestion/main.py
.env
chroma_db/
chroma_db_local_*
chroma_db_api_*

# evaluation
evaluation/results/*